FerrePlus_Project/Ferreplus/__pycache__/__init__.cpython-312.pyc
FerrePlus_Project/Ferreplus/__pycache__/settings.cpython-312.pyc
FerrePlus_Project/Ferreplus/__pycache__/urls.cpython-312.pyc
FerrePlus_Project/Ferreplus/__pycache__/views.cpython-312.pyc
