<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Intercambios de Sucursal</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ver_intercambios_empleado.css' %}">
</head>
<body>

    <div class="custom-container">
        <button id="BotonVolver" class="btn btn-secondary">
             <a href="{% url 'inicio_emp' %}">
                <i class='bx bx-chevron-left'>
                    <span>Volver</span>
                </i>
            </a>
        </button>
    </div>
    <div class="container">
        <div id="Header">
            <h1>Intercambios de Sucursal</h1>
        </div>
        <div class="mb-3 text-center">
            {% block content %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dark" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        </div>
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Publicación Base</th>
                        <th class="text-center"></th>
                        <th scope="col" class="text-center">Publicación Ofrecida</th>
                        <th scope="col" class="text-center">Fecha Acordada</th>
                        <th scope="col" class="text-center">Hora Acordada</th>
                        <th scope="col" class="text-center">Estado</th>
                        <th scope="col" class="text-center">Registro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for intercambio in intercambios %}
                        <tr>
                            <td class="text-center">{{ intercambio.base.titulo }}</td>
                            <td class="text-center icon-cell"><i class='bx bx-transfer'></i></td>
                            <td class="text-center">{{ intercambio.ofer.titulo }}</td>
                            <td class="text-center">{{ intercambio.fecha_intercambio }}</td>
                            <td class="text-center">{{ intercambio.hora }}</td>
                            <td class="text-center">{{ intercambio.estado }}</td>
                            <td class="text-center">
                                <div class="d-flex">
                                    <div class="btn-group-vertical">
                                        <button id="{{intercambio.id}}" class="btn btn-danger mb-1" onclick="realizado('{{ intercambio.id }}')">
                                            <i class='bx bx-check'></i>
                                            <span>Realizado</span>
                                        </button>
                                        <button id="{{intercambio.id}}" class="btn btn-danger mb-1" onclick="cancelado('{{ intercambio.id }}')">
                                            <i class='bx bx-x'></i>
                                            <span>Cancelado</span>
                                        </button>
                                        <button id="{{intercambio.id}}" class="btn btn-danger" onclick="ausente('{{ intercambio.id }}')">
                                            <i class='bx bx-user-x'></i>
                                            <span>Ausente</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}

    
    
<script>
    function cancelado(intercambioID) {
        window.location.href = '/intercambio-cancelado/' + intercambioID + '/';
    }

    function realizado(intercambioID) {
        window.location.href = '/intercambio-realizado/' + intercambioID + '/';
    }

    function ausente(intercambioID) {
        window.location.href = '/intercambio-ausente/' + intercambioID + '/';
    }
</script>
    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    </body>
</html>
