<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% csrf_token %}
    
    <!-- Nav bar--> 
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">FerrePlus</span>

        </div>
        
        <div>
            <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
        </div>
        <div>
            <a href="{% url 'cargar_empleado' %}">Cargar Empleado</a>
        </div>

    </nav>

    <!-- Contenedor para las tarjetas de publicaciones -->
    
    

    <section class="overlay"></section>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const navBar = document.querySelector('nav');
            const menuBtns = document.querySelectorAll('.menu-icon');
            const overlay = document.querySelector('.overlay');
    
            menuBtns.forEach((menuBtn) => {
                menuBtn.addEventListener('click', () => {
                    navBar.classList.toggle('open');
                });
            });
                
            overlay.addEventListener('click', () => {
                navBar.classList.remove('open');
            });
        });
    </script>
    
</body>
</html>
