<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar sucursal</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/registro_usuario.css' %}">
</head>
<body>
  <div class="custom-container">
      <button id="BotonVolver" class="btn btn-secondary">
        <a href="{% url 'inicio-admin' %}">
          <i class='bx bx-chevron-left'>
            <span>Volver</span>
          </i>
        </a>
      </button>
    </div>    
  <div class="container">
    <div class="mb-3 text-center">
      <h1>Nueva sucursal</h1>
      {% csrf_token %}
      {% block content %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dark" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
  </div>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div class="mb-3 text-center">
        <button type="submit" class="btn btn-register">Agregar sucursal</button>
      </div>
    </form>
    
      {% endblock %}
  </div>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
