<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Administrador</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio_administrador.css' %}">
</head>
<body>
    {% csrf_token %}
<!-- Nav bar--> 
<nav>
    <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">FerrePlus</span>
    </div>
    <div class="cerrar-sesion" >
        <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
    </div>
</nav>
    <div class="container">
        <h2>Sucursales</h2>
        <a href="{% url 'ver-sucursales' %}"><button><i class="bi bi-card-list"><p>Ver sucursales</p></i></button></a>
        <a href="{% url 'agregar-sucursal' %}"><button><i class="bi bi-house-add-fill"><p>Agregar Sucursal</p></i></button></a>
    </div>
    <div class="container">
        <h2>Empleados</h2>
        <a href="{% url 'ver-empleados' %}"><button><i class="bi bi-person-lines-fill"><p>Ver empleados</p></i></button></a>
        <a href="{% url 'cargar-empleado' %}"><button><i class="bi bi-person-plus"><p>Agregar empleado </p></i></button></a>
    </div>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
