<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Administrador</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio_administrador.css' %}">
</head>
<body>
    <!-- Menu de opciones -->
    <div>
        <button class="cerrar-sesion">Cerrar sesion</button>
    </div>
    <div class="container">
        <h2>Sucursales</h2>
        <a href="{% url "ver-sucursales" %}"><button><i class="bi bi-card-list"><p>Ver sucursales</p></i></button></a>
        <a href="{% url "agregar-sucursal" %}"><button><i class="bi bi-house-add-fill"><p>Agregar Sucursal</p></i></button></a>
    </div>
    <div class="container">
        <h2>Empleados</h2>
        <a><button><i class="bi bi-person-lines-fill"><p>Ver empleados</p></i></button></a>
        <a><button><i class="bi bi-person-plus"><p>Agregar empleado </p></i></button></a>
    </div>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
            function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</body>
</html>
