<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver empleados</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mis_empleados.css' %}">
</head>
<body>

    <div class="custom-container">
        <button id="BotonVolver" class="btn btn-secondary">
          <a href="{% url 'inicio-admin' %}">
            <i class='bx bx-chevron-left'>
              <span>Volver</span>
            </i>
          </a>
        </button>
      </div>   
    <div class="container">
        <div id="Header">
            <h1>Empleados de Ferreplus</h1>
        </div>
        <div class="mb-3 text-center">
            {% block content %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-dark" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
        </div>
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope='col'>CUIL</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        <tr>
                            <td>{{ empleado.id}}</td>
                            <td>{{ empleado.first_name }}</td>
                            <td>{{ empleado.last_name }}</td>
                            <td>{{ empleado.cuil }}</td>
                            <td>
                                <button id="{{empleado.id}}" type="submit" class="btn btn-danger" onclick="confirmarEliminacion('{{ empleado.id }}')"><i class="bx bx-trash"></i>
                                    <span>Eliminar</span>
                                </button>
                            </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}
<script>
    function confirmarEliminacion(empleadoId) {
        if (confirm('¿Estás seguro de que quieres eliminar este empleado?')) {
            window.location.href = '/eliminar-empleado/' + empleadoId + '/';
        }
    }
</script>
    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    </body>
</html>
