<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferreplus Admin | Ver sucursales</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mis_empleados.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
</head>
<body>

    <div class="custom-container">
        <button id="BotonVolver" class="btn btn-secondary">
            <a href="{% url 'inicio-admin' %}">
                <i class='bx bx-chevron-left'>
                    <span>Volver</span>
                </i>
            </a>
        </button>
    </div>
    <div class="container">
        <div id="Header">
            <h1>Sucursales de Ferreplus</h1>
        </div>
        <div class="mb-3 text-center">
            {% block content %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dark" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        </div>
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Número</th>
                        <th  class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Dirección</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sucursal in sucursales %}
                        <tr>
                            <td class="align-middle text-center"> {{ sucursal.id }}</td>
                            <td class="align-middle text-center">{{ sucursal.nombre }}</td>
                            <td class="align-middle text-center" >{{ sucursal.direccion }}</td>
                            <td class="align-middle text-center">
                                <div class="d-flex flex-column align-items-center">
                                    <a href="{% url 'detalle-sucursal' sucursal.id %}" class="btn btn-primary mb-2">
                                        <i class="bi bi-search"></i>
                                        <span>Ver detalle</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
    
<script>
    function confirmarEliminacion(sucursalId) {
        if (confirm('¿Estás seguro de que quieres eliminar esta sucursal?')) {
            window.location.href = '/eliminar-sucursal/' + sucursalId + '/';
        }
    }
</script>
    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    </body>
</html>
