@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
  }

body {
    color: white;
    min-height: 100%;
    background-color: #202020;
}

.container-fluid {
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
}

.carousel-container {
    padding: 30px;
    height: 100vh;
    width: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.details-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.details-header h5 {
    margin-bottom: 0;
}

.badges span {
    margin-left: 0.5rem;
}

.details-body h6 {
    color: #ffd100;
    margin-bottom: 0.5rem;
}

.details-footer {
    margin-top: 2rem;
}

.details-footer .btn {
    width: 100%;
}

.custom-hr {
    background: #505050;
    margin: 20px 0;
}

/*Badges*/

.badge {
    background-color: #606060;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/*--------------------Voton volver------------------*/

/* Estilos para el botón personalizado */
.custom-container button {
    background-color: transparent; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno */
    border-radius: 8px; /* Borde redondeado */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos para el botón al pasar el cursor */
.custom-container button:hover {
    background-color: #505050; /* Cambio de color de fondo al pasar el cursor */
}

/* Estilos para el enlace dentro del botón */
.custom-container button a {
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos para el icono dentro del botón */
.custom-container button i {
    vertical-align: middle; /* Alinear verticalmente con el texto */
    margin-right: 5px; /* Espacio a la derecha del icono */
}

/* Estilos para el texto dentro del botón */
.custom-container button span {
    vertical-align: top; /* Alinear verticalmente con el icono */
}
