@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background-color: #202020;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 40px;
    background-color: #202020;
    border-color: #505050;
    color: #d6d6d6;
}

.mb-3 {
    max-width: 500px;
    margin: 5px auto;
    color: #fff;
}

.custom-container {
    margin-top: 10px;
    margin-left: 20px;
}

.d-flex {
    display: flex;
    width: 100%;
}

.justify-content-center {
    justify-content: center;  /* Use center to align items centrally */
}

.custom-container button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.custom-container button:hover {
    background-color: #505050;
}

.custom-container button a {
    color: inherit;
    text-decoration: none;
}

.custom-container button i {
    vertical-align: left;
    margin-right: 5px;
}

.custom-container button span {
    vertical-align: top;
}

label {
    display: block;
    margin-bottom: 5px;
    align-self: auto;
    text-align: center; /* Center align labels */
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    color: #ffff;
    background-color: #505050;
    border: 1px solid #707070;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.imagen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    padding: 20;
}

.imagen-container img {
    padding: 10px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
    border: none; /* Eliminar borde */
}

.delete-checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #777777;
    border-radius: 4px;
    background-color: #444444;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; /* Agregado para posicionar el pseudoelemento */
}

.delete-checkbox-input:checked {
    background-color: #404040;
    border-color: #404040;
}

.delete-checkbox-input:checked::after {
    content: '✓'; /* Símbolo de tick */
    font-size: 12px; /* Ajusta el tamaño según tus preferencias */
    font: 700;
    color: #fff; /* Color del símbolo de tick */
    position: absolute; /* Posicionamiento absoluto dentro del checkbox */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el símbolo de tick */
}

.delete-checkbox-input:checked + .delete-checkbox-icon {
    color: red;
}

.delete-checkbox-icon {
    font-size: 20px;
    color: #ffd100;
    margin-left: 8px;
    transition: color 0.3s ease;
}

.btn.btn-outline-primary {
    width: 150px;
    margin: 0 auto;
}


.btn.btn-outline-primary.btn-lg.btn-block {
    font-size: medium;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    color: #ffffff;
    transition: background-color 0.3s ease;
    width: 30%;
}

.btn.btn-outline-primary.btn-lg.btn-block:hover {
    background-color: #ffc107;
    color: #000000;
    width: 30%;
}

/*------------------------ Eliminer checkboxes----------------------*/

.delete-checkbox {
    display: flex;
    align-items: center;
}

.delete-checkbox-input {
    margin-right: 5px; /* Ajusta este valor según sea necesario */
}

/* Estilos para la descripción */
textarea#descripcion {
    background-color: #505050;
    border-color: #808080;
    color: #d6d6d6;
    resize: none; /* Deshabilita el redimensionamiento del textarea */
}

/* Estilos para el input de archivos personalizado */
.custom-file-input ~ .custom-file-label::after {
    content: "Examinar"; /* Texto del botón de examen */
    background-color: #ffd100; /* Color de fondo del botón */
    padding: 0.375rem 0.75rem; /* Espaciado del botón */
    cursor: pointer; /* Cambia el cursor a pointer */
}

.custom-file-input:focus ~ .custom-file-label {
    border-color: #0000004b;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.custom-file-label {
    color: #d6d6d6;
    background-color: #404040;
    border-color: #505050;
}