@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
  }

body {
    min-height: 100%;
    background-color: #202020;
}
  /* Estilos para el contenedor principal y portada */
  .jumbotron {
    background-image: url("../foto_inicio.png"); 
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Texto blanco */
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.712); /* Sombra del texto */
    font-size: 6vw; /* Tamaño del texto en relación con el ancho de la ventana */
    height: 100vh; /* Altura de la pantalla completa */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea el contenido en la parte inferior */
    padding-bottom: 5vw; /* Relleno inferior en relación con el ancho de la ventana */
    width: 100vw; /* Ancho de pantalla completa */
    padding-left: 10%; /* Relleno izquierdo */
    padding-right: 10%; /* Relleno derecho */
  }

  .jumbotron h1 {
    font-size: 85px;
    font-weight: 500;
  }

  .jumbotron p {
    font-size: 30px;
  }

/* Estilos para el enlace con el ícono de flecha hacia abajo */
.arrow-down-link {
  /* Agrega estilos personalizados aquí */
  color: #ffffff; /* Color del enlace */
  text-decoration: none; /* Quita el subrayado del enlace */
}

/* Estilos para el ícono */
.bx.bxs-chevron-down {
  /* Agrega estilos personalizados aquí */
  font-size: 54px; /* Tamaño del ícono */
  margin-left: 5px; /* Espacio a la izquierda del ícono */
}

 /*--------------- imagen ------------------*/

 .logo {
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 0 auto; /* Establece los márgenes izquierdo y derecho a "auto" para centrar horizontalmente */
  margin-bottom: 10px;
}

  /*-------------- Containers--------------*/


  .container {
    color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 500px;
  }


  /*----inputs---*/

.alert-container {
    word-wrap: break-word; /* Permite que el texto se ajuste automáticamente */
    max-width: 350px; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos para el formulario de inicio de sesión en dark mode */

.form-control {
  background-color: #404040;
  border-color: #505050;
  color: #d6d6d6;
  width: 100%;
}

/* Estilos para el input cuando está enfocado */
.form-control:focus {
  border-color: #606060; /* Cambia el color del borde al seleccionar */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra alrededor del input */
  background-color: #707070;
  color: white;
}

.form-control::placeholder {
  color: #d7d7d7; /* Color del marcador de posición gris claro */
}

/* Estilos para el botón de registro */
.btn-register {
    background-color: #3d3d3d; /* Gris oscuro */
    border-color: #3d3d3d; /* Borde gris oscuro */
    color: #ffffff; /* Texto blanco */
    transition: background-color 0.3s ease; /* Transición de color */
    width: 150px; /* Ancho del botón */
    margin: 0 auto; /* Centra horizontalmente el botón */
  }
  
  
.btn-register:hover {
    background-color: #ffc107; /* Cambio de color al pasar el cursor */
    color: #000000; /* Cambio de color del texto al pasar el cursor */
  }