@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
  }

body {
    background-color: #202020;
}

h1 {
    color: #ffff;
    text-align: center;
    padding-bottom: 20px;
}

.container {
    margin-top: 50px;
    padding: 60px;
}
.mb-4 {
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 20px;
    color: #0366d6; /* Azul */
}
.btn-column {
    display: flex;
    flex-direction: column;
}
.btn-column button {
    margin-bottom: 10px;
}
.cerrar-sesion {
    position: absolute;
    top: 10px;
    right: 10px;
}
.cerrar-sesion a {
    color: #dc3545; /* Rojo */
    font-weight: bold;
}
.btn-primary {
    background-color: #17a2b8; /* Azul claro */
    border-color: #17a2b8;
}
.btn-primary:hover {
    background-color: #138496; /* Azul oscuro */
    border-color: #138496;
}