/* Importar la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a; /* Color de fondo oscuro */
    color: #e0e0e0; /* Color de texto claro */
}

.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    padding: 30px; /* Espaciado interno del contenedor */
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.alert {
    background-color: #2d2d2d; /* Color de fondo oscuro para las alertas */
    border-color: #404040; /* Color de borde oscuro para las alertas */
    color: #e0e0e0; /* Color de texto claro para las alertas */
}

.btn {
    background-color: #3d3d3d; /* Color de fondo oscuro para los botones */
    border-color: #3d3d3d; /* Color de borde oscuro para los botones */
    color: #ffffff; /* Color de texto blanco para los botones */
    transition: background-color 0.3s ease; /* Transición de color */
    padding: 8px 16px; /* Espaciado interno de los botones */
    border-radius: 4px; /* Borde redondeado de los botones */
    margin: 5px;
}

.btn:hover {
    color: #FFFF; /* Cambio de color del texto al pasar el cursor */
}

.card {
    background-color: #2d2d2d; /* Color de fondo oscuro para las tarjetas */
    border-color: #404040; /* Color de borde oscuro para las tarjetas */
    color: #e0e0e0; /* Color de texto claro para las tarjetas */
    margin-bottom: 20px; /* Espacio entre tarjetas */
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.table {
    background-color: #2d2d2d; /* Color de fondo oscuro para la tabla */
    border-color: #404040; /* Color de borde oscuro para la tabla */
    color: #e0e0e0; /* Color de texto claro para la tabla */
}

.table th,
.table td {
    border-color: #404040; /* Color de borde oscuro para las celdas de la tabla */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #3d3d3d; /* Color de fondo oscuro para las filas impares */
}

.table-hover tbody tr:hover {
    background-color: #4d4d4d; /* Color de fondo oscuro al pasar el cursor sobre las filas */
}