/* Estilos para el sidebar */
.sidebar {
    width: 300px; /* Ancho del sidebar */
    height: 100%; /* Altura del sidebar */
    position: fixed; /* Para que el sidebar permanezca fijo en la pantalla */
    top: 0;
    left: 0; /* Ajuste para que el sidebar sea visible por defecto */
    background-color: #343a40; /* Color de fondo del sidebar */
    overflow-y: auto; /* Para permitir el desplazamiento vertical si es necesario */
    padding-top: 20px; /* Espacio superior */
    transition: left 0.5s; /* Transición suave */
    z-index: 1000; /* Z-index para estar encima del contenido */
}

/* Estilos para el contenido principal */
#main {
    margin-left: 250px; /* Margen izquierdo para dejar espacio para el sidebar */
    padding: 20px; /* Espaciado del contenido */
    transition: margin-left 0.5s; /* Transición suave para el cambio de margen */
    background-color: #a1a7ad;
}

/* Estilos para el botón de cerrar el sidebar */
#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: transparent;
    border-color: transparent;
    color: #fff; /* Color del icono */
}

/* Estilos para los botones del sidebar */
.sidebar a {
    width: 90%;
    padding: 4px; /* Espaciado interno */
    padding-left: 10px;
    color: #d4d4d4; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    text-align: left;
    background-color: transparent;
    border-color: transparent;
}

/* Estilos para los botones del sidebar al pasar el mouse */
.sidebar a:hover {
    background-color: transparent; /* Color de fondo al pasar el mouse */
    border-color: transparent;
    text-decoration:solid;
}

/* Estilos para el icono de configuración */
.bi-sliders {
    font-size: 24px;
    color: #fff; /* Color del icono */
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Estilos para el icono de menú */
.bi-list {
    font-size: 24px;
    color: #fff; /* Color del icono */
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Estilos para el título de la página */
h1 {
    margin-top: 40px; /* Ajusta este valor según sea necesario */
    color: #ffffff;
}


/* Estilos para el contenido de las publicaciones */
.card-body {
    background-color: #f8f9fa; /* Color de fondo del contenido de las tarjetas */
    border-radius: 10px; /* Borde redondeado */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos para los títulos de las publicaciones */
.card-title {
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para los subtítulos de las publicaciones */
.card-subtitle {
    margin-bottom: 5px; /* Margen inferior */
    font-size: 14px; /* Tamaño de fuente */
    color: #6c757d; /* Color del texto */
}

/* Estilos para las imágenes de las publicaciones */
.card-img-top {
    border-radius: 10px; /* Borde redondeado */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para los elementos del sidebar */
.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.mb-3 {
    position: relative;
}

/* Estilos para la etiqueta del menú desplegable */
.select {
    display: block;
    width: 100%;
}

/* Estilos para el menú desplegable */
#slct {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    background-color: #495057; /* Color de fondo oscuro */
    color: #d4d4d4; /* Color de texto blanco */
    width: calc(100% - 32px);
    padding: 10px 15px; /* Espaciado interno */
    border: 1px solid #495057; /* Borde ligeramente más oscuro */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
    outline: none; /* Elimina el contorno al enfocar */
    margin-bottom: 15px; /* Separación del borde inferior del sidebar */
    margin-left: 10px;
    height: 40px;
}

/* Estilos para la opción predeterminada del menú desplegable */
#slct option:disabled {
    color: #d4d4d4; /* Color de texto gris oscuro */
    background-color: #343a40; /* Fondo oscuro */
}

/* Estilos para el menú desplegable al enfocarse */
#slct:focus {
    background-color: #495057; /* Color de fondo al enfocarse */
    border-color: #979797; /* Color del borde al enfocarse */
    box-shadow: none; /* Elimina la sombra al enfocarse */
}

/* Estilos para la flecha del menú desplegable */
#slct {
    background-image: linear-gradient(45deg, transparent 50%, #6c757d 50%),
                      linear-gradient(135deg, #6c757d 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
                         calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

/* Estilos mejorados para la barra de búsqueda */
.form-control {
    background-color: #495057; /* Color de fondo más oscuro */
    color: #d4d4d4; /* Color del texto */
    border: 1px solid #495057; /* Borde ligeramente más oscuro */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px 15px; /* Espaciado interno ligeramente mayor */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
    margin-bottom: 15px;
    margin-left: 10px;
    height: 40px;
    width: calc(100% - 32px); /* Ancho igual al del selector de sucursal */
}

/* Estilos para la barra de búsqueda al enfocarse */
.form-control:focus {
    background-color: #495057; /* Color de fondo al enfocarse */
    border-color: #979797; /* Color del borde al enfocarse */
    box-shadow: none; /* Elimina la sombra al enfocarse */
}

/* Estilos para el texto dentro de la barra de búsqueda al escribir */
.form-control:focus, .form-control:valid {
    color: #d4d4d4; /* Color del texto al escribir */
}

.form-control::placeholder {
    color: #d4d4d4;
}


#CheckerContainer {
    padding-left: 10px;
}

.fw-bold {
    font-weight: bold; /* Asegúrate de que el texto esté en negrita */
    margin-bottom: 3px; /* Ajusta el margen inferior según sea necesario */
    color: #d4d4d4; /* Color del texto */
}

.form-check {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0; /* Elimina el margen inferior para ajustar la alineación */
    margin-top: 4px; /* Ajusta el margen superior para alinear con el texto */
}

.form-check-label {
    color: #d4d4d4;
    display: inline-block; /* Hace que el label sea un bloque en línea */
    padding-top: 3px;
    line-height: 1; /* Ajusta la altura de línea para centrar el texto */
    margin: 5px 0; /* Ajusta los márgenes superior e inferior */
}

/* Estilos para los radio buttons */
.form-check-input[type="radio"] {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    width: 16px; /* Ancho del radio button */
    height: 16px; /* Altura del radio button */
    border-radius: 50%; /* Hace el radio button circular */
    background-color: transparent; /* Fondo transparente */
    border: 1px solid #c7c7c7; /* Borde blanco */
    cursor: pointer; /* Cambia el cursor al pasar sobre el radio button */
    margin-right: 8px; /* Espacio a la derecha del radio button */
    vertical-align: middle; /* Alinea verticalmente con el texto */
    outline: none; /* Elimina el contorno cuando se enfoca */
    position: relative; /* Necesario para posicionar el círculo interior */
}

/* Estilo para el radio button seleccionado */
.form-check-input[type="radio"]:checked {
    background-color: transparent; /* Mantiene el fondo transparente */
}

/* Círculo interior del radio button seleccionado */
.form-check-input[type="radio"]:checked::after {
    content: ""; /* Contenido vacío */
    display: block; /* Hace que se muestre como un elemento de bloque */
    width: 8px; /* Ancho del círculo interior */
    height: 8px; /* Altura del círculo interior */
    border-radius: 50%; /* Hace el círculo interior circular */
    background-color: #c7c7c7; /* Color de fondo blanco */
    position: absolute; /* Posicionamiento absoluto dentro del radio button */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Centra el círculo interior */
}

/* Estilo para el radio button al pasar el mouse */
.form-check-input[type="radio"]:hover {
    border-color: #ffffff; /* Color del borde al pasar el mouse */
}


/* Estilos para el contenedor del botón de subir publicación */
#btnSubirPublicacionContainer {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    margin-top: auto; /* Para que el contenedor se alinee automáticamente hacia arriba */
    margin-bottom: 20px; /* Espacio inferior */
}

#botonSubirPublicacion {
    display: block;
    background-color: green;
    border-color: transparent;
}

/* IMAGENES */

.image-upload-container {
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.image-upload-label {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.image-upload-label span {
    font-size: 3rem;
    color: #666;
}