@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
  }

body {
    min-height: 100%;
    background-color: #202020;
}

.logo {
    margin-bottom: 10px;
  }

/* Estilo para la línea de separación */
.sidebar-divider {
    border: none; /* Elimina el borde predeterminado */
    border-top: 2px solid #818181; /* Agrega una línea horizontal */
    margin-left: -5px;
    margin-right: 30px;
}

nav {
    border-bottom: 1px solid #707070!important;
    position: rel;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #202020;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav.logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .menu-icon {
    color: #d6d6d6;
    font-size: 24px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.logo .logo-name {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffd100;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20 10px;
    border-right: 1px solid #707070;
    background-color: #202020;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.1ms ease;
    z-index: 1000;
}

nav.open .sidebar {
    left: 0%;
}

.sidebar .sidebar-content {
    height: 100%;
    padding-top: 30px 16px;
    color: #d6d6d6;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: -30px;
    margin-right: 10px;
    padding: 14px 12px;
    border-radius: 8px;
    background-color: #202020;
}

.nav-link .icon {
    color: #d6d6d6;
    font-size: 24px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
}

.nav-link:hover {
    background-color: #505050;
    transform: scale(1.05);
    transition: 0.5s ease;
}

/* texto de los hipervinculos */
.nav-link:hover .icon,
.nav-link:hover .link {
    color: #fff;
}

.nav-link .link {
    font-size: 15px;
    color: #d7d7d7;
    font-weight: 400;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    background: rgba(22, 22, 22, 0.466);
    z-index: 1000;
}

nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;

}

/*Barra de busqueda del side bar*/

/* Estilo para el contenedor del input y el ícono de búsqueda */
.input-group.rounded {
    border: 1px solid #707070; /* Añade un borde sólido de 1px alrededor del contenedor */
    position: rel;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 30px;
    width: 400px; /* Ancho deseado del input */
}

/* Estilo para el input de búsqueda */
.input-group.rounded input[type="search"] {
    display: fixed;
    background-color: #404040; /* Color de fondo del input */
    color: #d6d6d6;
    border: none;
    border-top-left-radius: 8px; /* Borde superior izquierdo redondeado */
    border-bottom-left-radius: 8px; /* Borde inferior izquierdo redondeado */
}

.input-group.rounded input[type="search"]::placeholder {
    color: #d6d6d6;
    width: 400px;
}
/* Estilo para el input de búsqueda al estar enfocado */
.input-group.rounded input[type="search"]:focus {
    outline: none; /* Elimina el contorno predeterminado */
    border: none; /* Cambia el borde al estar enfocado */
    box-shadow: 0 0 0px; /* Agrega una sombra al estar enfocado */
}

/* Estilo para el ícono de búsqueda */
.input-group-text.border-0 {
    background-color: #707070; /* Color de fondo del ícono */
    border-top-left-radius: 0; /* Borde superior izquierdo redondeado */
    border-bottom-left-radius: 0; /* Borde inferior izquierdo redondeado */
    cursor: pointer; 
    color: #d6d6d6;/* Cambiar cursor al pasar sobre el ícono */
}

/* Estilo para el ícono de búsqueda al pasar el mouse */
.input-group-text.border-0:hover {
    background-color: #ffd100; /* Color de fondo al pasar el mouse */
    transition: all 0.3s;
    color:  #131313;
}


/*----------------------------------------------------------------------------*/
/* Checkboxes */

h6 {
    color: #fff;
    text-decoration:solid;
    text-shadow: 3px #131313;
}

/* Estilo para los checkboxes */
.form-check-input {
    /* Agrega tus estilos personalizados aquí */
    /* Por ejemplo: */
    margin-right: 5px; /* Margen derecho entre los checkboxes */
}

/* Estilo para las etiquetas de los checkboxes */
.form-check-label {
    /* Agrega tus estilos personalizados aquí */
    /* Por ejemplo: */
    font-size: 15px;
    color: #d7d7d7; /* Color del texto */
    margin-right: 15px; /* Margen derecho entre las etiquetas */
}

input[type="checkbox"] {
    accent-color: #ffd100;
    background-color: #404040;
  }

/*Apartado de filtros*/

.mb-3 {
    margin-top: 20px;
}

.form-select {
    margin-top: 5px;
    background-color: #404040;
    color: #d6d6d6;
    border-radius: 5px;
    border: 1px #707070;
    height: 40px;
    width: 85%;
}

/* Color de los spans de acento*/

span {
    color: #fff;
}

/* -------- Contenedor de publicaciones -------------*/

.contenedor-publicaciones {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Para centrar horizontalmente */
    padding-top: 100px; /* Espacio sobre las tarjetas */
}
.card {
    width: 18rem;
    height: 500px;
    display: flexbox;
    z-index: 2;
}

/*------------------IMAGENES CARD BOX---------------------*/

/* Estilos para el contenedor de publicaciones */
.contenedor-publicaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas de publicaciones */
}

.card img {
    width: 300px;
    height: 300px; /* Establecer un ancho máximo para la imagen */

}

.card-body {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    width: 300px; /* Ancho inicial de las tarjetas */
    height: auto; /* Altura automática */
    background-color: #404040;
    color: #eeeeee;
    border: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    transition: transform 0.5s ease; /* Transición para el efecto hover */
}

.card:hover {
    transform: scale(1.05); /* Aumentar el tamaño en un 5% al hacer hover */
}

.carousel-inner {
    background-color: #404040; /* Color de fondo deseado */
    border: 1px solid #808080; /* Borde sólido con color deseado */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 px rgba(0, 0, 0, 0.800);
}

.carousel-item img {
    border: none; /* Borde sólido con color deseado */
    border-radius: 10px; /* Bordes redondeados */
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%; /* Ancho de los controles de navegación */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo de los íconos de navegación */
    border-radius: 50%; /* Forma de los íconos de navegación */
}

/* Estilo para ocultar el texto de accesibilidad de los controles de navegación */
.carousel-control-prev .sr-only,
.carousel-control-next .sr-only {
    display: none;
}

/*Badges*/

.badge {
    background-color: #606060;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

p {
    padding: 5px;
    border-radius: 5px;
    height: 200px;
    width: 100%;
}

/*BOTON Cerrar sesion*/

/* Estilos para el contenedor personalizado */
.custom-container {

    margin-top: 280px;
    margin-right: 30px;

}

/* Estilos para el botón personalizado */
.custom-container button {
    background-color: transparent; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno */
    width: 100%;
    border-radius: 8px; /* Borde redondeado */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    background-color: #353535;
}

/* Estilos para el botón al pasar el cursor */
.custom-container button:hover {
    background-color: #505050; /* Cambio de color de fondo al pasar el cursor */
}

/* Estilos para el enlace dentro del botón */
.custom-container button a {
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Sin subrayado */
}

/* Estilos para el icono dentro del botón */
.custom-container button i {
    vertical-align: middle; /* Alinear verticalmente con el texto */
    margin-right: 5px; /* Espacio a la derecha del icono */
}

/* Estilos para el texto dentro del botón */
.custom-container button span {
    vertical-align: top; /* Alinear verticalmente con el icono */
}

/*Probando*/