<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Publicación</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar_publicacion.css' %}">
</head>
<body>
    <div class="custom-container">
        <button id="BotonVolver" class="btn btn-secondary">
            <a href="{% url 'mis_publicaciones' %}">
                <i class='bx bx-chevron-left'><span>Volver</span></i>
            </a>
        </button>
    </div>

    <div class="container">
        <div class="mb-3 text-center">
            <h1>Editar Publicación</h1>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% if aviso %}
                <div class="alert alert-success" role="alert" id="alertaExito">
                    {{ aviso }} <a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'mis_publicaciones' %}">Ver aquí.</a>
                </div>
            {% endif %}
        </div>

        <form method="post" enctype="multipart/form-data" class="text-left">
            {% csrf_token %}
            <div class="form-group">
                <span>Título</span>
                <label for="titulo" class="form-label"></label>
                {{ form_publicacion.titulo }}
            </div>
            <div class="form-group">
                <span>Estado</span>
                <label for="estado" class="form-label"></label>
                {{ form_publicacion.estado }}
            </div>
            <div class="form-group">
                <span>Categoría</span>
                <label for="categoria" class="form-label"></label>
                {{ form_publicacion.categoria }}
            </div>
            <div class="form-group">
                <span>Sucursal</span>
                <label for="sucursal" class="form-label"></label>
                <select class="form-select" id="select" name="sucursal" required>
                    <option>{{ publicacion.sucursal }}</option>
                    {% for sucursal in sucursales %}
                        <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <span>Descripción</span>
                <label for="descripcion" class="form-label"></label>
                {{ form_publicacion.descripcion }}
            </div>
            <div class="form-group">
                <h6>Imágenes existentes</h6>
                <div class="form-group" id="imagesContainer">
                    {% for imagen in publicacion.imagenes.all %}
                    <div class="imagen-container">
                        <img src="{{ imagen.imagen.url }}" alt="{{ imagen.imagen.name }}">
                        <div class="delete-checkbox-container">
                            <input type="checkbox" name="eliminar_imagenes" value="{{ imagen.pk }}" class="delete-checkbox-input">
                            <i class="bx bx-trash delete-checkbox-icon"></i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <h6>Agregar nuevas imágenes</h6>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="nuevas_imagenes" name="nuevas_imagenes" multiple>
                        <label class="custom-file-label" for="nuevas_imagenes">Seleccionar archivos</label>
                    </div>
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Guardar cambios</button>
            </div>
        </form>
    </div>
</body>
<script>
    // Mostrar el nombre de los archivos seleccionados en la etiqueta del input de archivo
    document.querySelector('.custom-file-input').addEventListener('change', function(e){
        var fileName = document.getElementById("nuevas_imagenes").files.length + " archivos seleccionados";
        var nextSibling = e.target.nextElementSibling;
        nextSibling.innerText = fileName;
    });
</script>
</html>
