<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis intercambios</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mis_empleados.css' %}">
</head>
<body>

    <div class="custom-container">
        <button id="BotonVolver" class="btn btn-secondary">
             <a href="{% url 'pagina_principal' %}">
                <i class='bx bx-chevron-left'>
                    <span>Volver</span>
                </i>
            </a>
        </button>
    </div>
    <div class="container">
        <div id="Header">
            <h1>Mis intercambios</h1>
        </div>
        <div class="mb-3 text-center">
            {% block content %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dark" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        </div>
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Mi Publicación</th>
                        <th class="text-center"></th>
                        <th scope="col" class="text-center">Publicación ofrecida</th>
                        <th scope="col" class="text-center">Fecha acordada</th>
                        <th scope="col" class="text-center">Hora acordada</th>
                        <th scope="col" class="text-center">Sucursal de encuentro</th>
                        <th scope="col" class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for intercambio in intercambios %}
                        <tr>
                            {% if intercambio.base.usuario == user %}
                                <td class="text-center">{{ intercambio.ofer.titulo }}</td>
                                <td class="text-center icon-cell"><i class='bx bx-transfer'></i></td>
                                <td class="text-center">{{ intercambio.ofer.titulo }}</td>
                            {% else %}
                                <td class="text-center">{{ intercambio.base.titulo }}</td>
                                <td class="text-center icon-cell"><i class='bx bx-transfer'></i></td>
                                <td class="text-center">{{ intercambio.ofer.titulo }}</td>
                            {% endif %}
                            <td class="text-center">{{ intercambio.fecha_intercambio }}</td>
                            <td class="text-center">{{ intercambio.hora }}</td>
                            <td class="text-center">{{ intercambio.sucursal.nombre }}</td>
                            <td class="text-center">
                                <span class="badge badge-dark">{{ intercambio.estado }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}

    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    </body>
</html>
