<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferreplus | Solicitudes de intercambio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mis_publicaciones.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
</head>
<body>
    <div class="custom-container">
        <button id="BotonVolver" class="btn btn-secondary">
          <a href="{% url 'pagina_principal' %}">
            <i class='bx bx-chevron-left'>
              <span>Volver</span>
            </i>
          </a>
        </button>
    </div>
    <div class="container">
        <div id="Header" class="my-4">
            <h1>Solicitudes de Intercambio</h1>
        </div>
        
        <!-- Pestañas -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="recibidas-tab" data-toggle="tab" href="#recibidas" role="tab" aria-controls="recibidas" aria-selected="true">Recibidas</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="enviadas-tab" data-toggle="tab" href="#enviadas" role="tab" aria-controls="enviadas" aria-selected="false">Enviadas</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="historial-tab" data-toggle="tab" href="#historial" role="tab" aria-controls="historial" aria-selected="false">Historial</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- Tabla Recibidas -->
            <div class="tab-pane fade show active" id="recibidas" role="tabpanel" aria-labelledby="recibidas-tab">
                <div class="mb-3">
                    {% if ofertas_recibidas %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Tu Publicación</th>
                                <th class="text-center"></th>
                                <th scope="col" class="text-center">Publicación Ofrecida</th>
                                <th scope="col" class="text-center">Fecha <i class='bx bxs-calendar' ></i></th>
                                <th scope="col" class="text-center">Hora <i class='bx bxs-time' ></i></th>
                                <th scope="col" class="text-center">Sucursal <i class='bx bxs-store' ></i></th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oferta in ofertas_recibidas %}
                            <tr>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="img-container mr-3">
                                            {% if oferta.base.imagenes.all %}
                                                <img src="{{ oferta.base.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                            {% else %}
                                                <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                            {% endif %}
                                        </div>
                                        <div class="titulo-container">
                                            <span>{{ oferta.base.titulo }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center icon-cell"><i class='bx bx-transfer'></i></td>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="img-container mr-3">
                                            {% if oferta.oferta.imagenes.all %}
                                                <img src="{{ oferta.oferta.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                            {% else %}
                                                <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                            {% endif %}
                                        </div>
                                        <div class="titulo-container">
                                            <span>{{ oferta.oferta.titulo }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">{{ oferta.fecha_intercambio }}</td>
                                <td class="align-middle text-center">{{ oferta.hora }}</td>
                                <td class="align-middle text-center">{{ oferta.base.sucursal.nombre }}</td>
                                <td class="align-middle text-center">
                                    <div class="d-flex">
                                        <form method="post" action="{% url 'mis_ofertas' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="oferta_id" value="{{ oferta.id }}">
                                            <button type="submit" class="btn btn-primary" name="aceptar">
                                                <i class='bx bx-check'></i>
                                                <span>Aceptar</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary" name="rechazar">
                                                <i class='bx bx-x'></i>
                                                <span>Rechazar</span>
                                            </button>
                                        </form>                                
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        No tienes ofertas recibidas.
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <!-- Tabla Enviadas -->
            <div class="tab-pane fade" id="enviadas" role="tabpanel" aria-labelledby="enviadas-tab">
                <div class="mb-3">
                    {% if ofertas_enviadas %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Tu Publicación</th>
                                <th class="text-center"></th>
                                <th scope="col" class="text-center">Publicación a la que se oferta</th>
                                <th scope="col" class="text-center">Fecha <i class='bx bxs-calendar' ></i></th>
                                <th scope="col" class="text-center">Hora <i class='bx bxs-time' ></i></th>
                                <th scope="col" class="text-center">Sucursal <i class='bx bxs-store' ></i></th>
                                <th scope="col" class="text-center">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oferta in ofertas_enviadas %}
                            <tr>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="img-container mr-3">
                                            {% if oferta.oferta.imagenes.all %}
                                                <img src="{{ oferta.oferta.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                            {% else %}
                                                <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                            {% endif %}
                                        </div>
                                        <div class="titulo-container">
                                            <span>{{ oferta.oferta.titulo }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center icon-cell"><i class='bx bx-transfer'></i></td>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="img-container mr-3">
                                            {% if oferta.base.imagenes.all %}
                                                <img src="{{ oferta.base.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                            {% else %}
                                                <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                            {% endif %}
                                        </div>
                                        <div class="titulo-container">
                                            <span>{{ oferta.base.titulo }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">{{ oferta.fecha_intercambio }}</td>
                                <td class="align-middle text-center">{{ oferta.hora }}</td>
                                <td class="align-middle text-center">{{ oferta.base.sucursal.nombre }}</td>
                                <td class="align-middle text-center"><span class="badge badge-primary">{{ oferta.estado }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        No tienes ofertas enviadas.
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Tabla Historial -->
            <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="historial-tab">
                <div class="mb-3">
                    {% if ofertas_procesadas %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Tu Publicación</th>
                                <th class="text-center"></th>
                                <th scope="col" class="align-middle text-center">Publicación</th>
                                <th scope="col" class="align-middle text-center">Fecha <i class='bx bxs-calendar' ></i></th>
                                <th scope="col" class="align-middle text-center">Hora <i class='bx bxs-time' ></i></th>
                                <th scope="col" class="talign-middle text-center">Sucursal <i class='bx bxs-store' ></i></th>
                                <th scope="col" class="align-middle text-center">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oferta in ofertas_procesadas %}
                            <tr>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="img-container mr-3">
                                            {% if user == oferta.base.autor %}
                                                {% if oferta.base.imagenes.all %}
                                                    <img src="{{ oferta.base.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                                {% else %}
                                                    <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                                {% endif %}
                                            {% else %}
                                                {% if oferta.oferta.imagenes.all %}
                                                    <img src="{{ oferta.oferta.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                                {% else %}
                                                    <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="titulo-container">
                                            {% if user == oferta.base.autor %}
                                                <span>{{ oferta.base.titulo }}</span>
                                            {% else %}
                                                <span>{{ oferta.oferta.titulo }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <i class='bx bx-transfer'></i>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="img-container mr-3">
                                            {% if user != oferta.base.autor %}
                                                {% if oferta.base.imagenes.all %}
                                                    <img src="{{ oferta.base.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                                {% else %}
                                                    <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                                {% endif %}
                                            {% else %}
                                                {% if oferta.oferta.imagenes.all %}
                                                    <img src="{{ oferta.oferta.imagenes.first.imagen.url }}" alt="Imagen del producto" class="img-thumbnail custom-img-size">
                                                {% else %}
                                                    <img src="{% static 'ruta/a/imagen/por/defecto.jpg' %}" alt="Imagen por defecto" class="img-thumbnail custom-img-size">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="titulo-container">
                                            {% if user != oferta.base.autor %}
                                                <span>{{ oferta.base.titulo }}</span>
                                            {% else %}
                                                <span>{{ oferta.oferta.titulo }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">{{ oferta.fecha_intercambio }}</td>
                                <td class="align-middle text-center">{{ oferta.hora }}</td>
                                <td class="align-middle text-center">{{ oferta.base.sucursal.nombre }}</td>
                                <td class="align-middle text-center">
                                    {% if oferta.estado == 'ACEPTADO' %}
                                    <span class="badge badge-success">
                                        {{ oferta.estado }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-danger">
                                        {{ oferta.estado }}
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-primary text-center" role="alert">
                        No tienes ofertas en el historial.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>