<!-- MODAL para subir publicación -->
<div class="modal fade" id="modalSubirPublicacion" tabindex="-1" aria-labelledby="modalSubirPublicacionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Tamaño grande del modal y centrado verticalmente -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSubirPublicacionLabel">Subir publicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario de subir publicación -->
                <form method="post" action="{% url 'pagina-principal' %}">
                    {% csrf_token %}
                    <!-- Campos del formulario -->
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título">
                    </div>
                    <!-- IMAGENES -->
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="image-upload-container mr-3">
                            <input type="file" class="image-upload-input d-none" id="customFile1" onchange="displaySelectedImage(event)" accept="image/*">
                            <label for="customFile1" class="image-upload-label">
                                <span class="bi bi-plus-lg"></span>
                            </label>
                        </div>
                        <!-- Repite esto para los otros campos de imagen -->
                    </div>
                    
                    <!-- Selección del estado del producto -->
                    <div class="mb-3">
                        <label class="select" for="estado">
                            <label for="estado" class="form-label">Estado del producto</label>
                            <select id="estado" name="estado" required>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Usado">Usado</option>
                            </select>
                        </label>
                    </div>
                    <!-- Selección de la categoría del producto-->
                    <div class="mb-3">
                        <label class="select" for="categoria">
                            <label for="categoria" class="form-label">Categoría</label>
                            <select id="categoria" name="categoria" required>
                                <option value="Electricidad">Electricidad</option>
                                <option value="Ferretería general">Ferretería general</option>
                                <option value="Construcción">Construcción</option>
                                <option value="Herramientas">Herramientas</option>
                                <option value="Jardinería">Jardinería</option>
                                <option value="Protección personal">Protección personal</option>
                            </select>
                        </label>
                    </div>
                    <!-- Selección de sucursal deseada para el intercambio -->
                    <div class="mb-3">
                        <label class="select" for="sucursal">
                            <label for="sucursal" class="form-label">Sucursal deseada para el encuentro</label>
                            <select id="sucursal" name="sucursal" required>
                                <option value="One">One</option>
                                <option value="Two">Two</option>
                                <option value="Three">Three</option>
                                <option value="Four">Four</option>
                                <option value="Five">Five</option>
                                <option value="Six">Six</option>
                                <option value="Seven">Seven</option>
                            </select>
                        </label>
                    </div>

                    <!-- Descripción de la publicación -->
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
                    </div>
                    <!-- Subir publicación -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Subir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>