<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercambios</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vista_intercambios.css' %}">
</head>
<body>

    <!-- CONTENIDO PRINCIPAL -->
    <div id="main">
        <!-- Menu desplegable--> 
        <button class="bi bi-list" onclick="w3_open()"></button>

        <!-- Publicaciones disponibles -->
        <h1>Publicaciones</h1>

        <!-- Cuadrícula de publicaciones en formato cards -->
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Publicación 1</h5>
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="...">
                    <h6 class="card-subtitle mb-2 text-muted">Estado</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Sucursal</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Publicación 2</h5>
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="...">
                    <h6 class="card-subtitle mb-2 text-muted">Estado</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Sucursal</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Publicación 3</h5>
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="...">
                    <h6 class="card-subtitle mb-2 text-muted">Estado</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Sucursal</h6>
                </div>
            </div>
            <!-- Agrega más columnas según sea necesario para más publicaciones -->
        </div>
    </div>

    <!-- SideBar-->
    {% include 'vista_usuario/vista_principal_sidebar.html' %}

    <!-- Enlace a Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <script>
        $('#modalSubirPublicacion').on('show.bs.modal', function (e) {
            $('body').addClass('modal-open');
            $('body').append('<div class="modal-backdrop fade show"></div>');
        });

        $('#modalSubirPublicacion').on('hidden.bs.modal', function (e) {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
        });

        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("main").style.marginLeft = "0";
        }

        function displaySelectedImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            const imageContainer = event.target.closest('.image-upload-container');
            const imageLabel = imageContainer.querySelector('.image-upload-label');
            const plusIcon = imageLabel.querySelector('.bi-plus-lg');
            
            reader.onload = function() {
                const img = imageContainer.querySelector('img');
                if (!img) {
                    const newImg = document.createElement('img');
                    newImg.src = reader.result;
                    newImg.alt = 'Imagen seleccionada';
                    newImg.classList.add('uploaded-image');
                    imageLabel.appendChild(newImg);
                    plusIcon.style.display = 'none'; // Ocultar el icono '+'
                } else {
                    img.src = reader.result;
                }
            };

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        // JavaScript en tu plantilla HTML
        function closePopup() {
            document.querySelector('.popup').style.display = 'none';
        }
    </script>
</body>
</html>
